@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant aria-invalid (&[aria-invalid="true"]);

@theme {
  --color-brand: #d81b21;
  --color-brand-dark: #c0181e;
  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600);
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);

  --animate-shake: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  --animate-fade-in-bg: fade-in-bg 0.5s ease-in-out;

  @keyframes shake {
    0%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes fade-in-bg {
    from {
      background-color: transparent;
    }
  }
}

/* Pagination */
nav.pagy {
  @apply flex flex-wrap justify-between grow;

  a {
    @apply px-3 py-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white;

    &[aria-disabled="true"] {
      @apply opacity-50 pointer-events-none;
    }

    &.current {
      @apply text-white bg-gray-900 dark:bg-gray-100 dark:text-gray-900;
    }
  }
}

span.pagy.info {
  @apply text-sm text-gray-500 dark:text-gray-400 grow text-center lg:text-right;
}
