name: "pludr"

services:
  rails-app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    env_file:
      - ../.env

    volumes:
    - ../..:/workspaces:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Uncomment the next line to use a non-root user for all processes.
    # user: vscode

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    depends_on:
    - postgres

  postgres:
    image: postgres:16.1
    restart: unless-stopped
    networks:
    - default
    ports:
    - 5432:5432
    volumes:
    - postgres-data:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres

  mailpit:
    image: axllent/mailpit:latest
    restart: unless-stopped
    networks:
    - default
    ports:
    - 1025:1025
    - 8025:8025

  chrome:
    image: seleniarm/standalone-chromium:latest
    restart: unless-stopped
    networks:
    - default
    ports:
    - 4444:4444
    - 7900:7900
    - 5900:5900

volumes:
  postgres-data:
